mixin experience-item-first(company, title, date, year, content)
  .col-md-6.col-xs-6.mobile-view
    .timeline-divider.wow.bounceIn
      i.fa.fa-check
    .timeline-marker.wow.slideInLeft
      .timeline-date #{date}
      .years #{year}
      .arrow-right
  .col-md-6.col-xs-6.mobile-view
    .timeline-details.wow.slideInRight
      .associations
        h2.associations-heading #{company}
        h3.associations-subheading #{title}
        p #{content}
mixin experience-item-left(company, title, date, year, content)
  .col-md-6.col-xs-6.mobile-view
    .timeline-divider.wow.bounceIn
      i.fa.fa-times
    .timeline-marker.wow.slideInLeft
      .timeline-date #{date}
      .years #{year}
      .arrow-right
  .col-md-6.col-xs-6.mobile-view
    .timeline-details.wow.slideInRight
      .associations
        h2.associations-heading #{company}
        h3.associations-subheading #{title}
        p #{content}
mixin experience-item-right(company, title, date, year, content)
  .col-md-6.col-xs-6.mobile-view
    .timeline-divider.wow.bounceIn
      i.fa.fa-times
    .timeline-details.wow.slideInLeft
      .associations
        h2.associations-heading #{company}
        h3.associations-subheading #{title}
        p #{content}
  .col-md-6.col-xs-6.mobile-view
    .timeline-marker.wow.slideInRight
      .timeline-date #{date}
      .years #{year}
      .arrow-left

#experiences.section-experience
  .container
    .row
      .col-md-12
        .section-title
          h1.section-heading EXPERIENCE
          h2.section-subheading-nobg 人都是經驗的動物，但是經歷同樣的事件後，往往得到的領悟卻大大不同
    .experience-timeline
      .row.first
        +experience-item-first('Cepave', 'Design leader', 'JUL 2015 - TILL TODAY', '1y7m', '第一次擔任帶領職務，終於體會到什麼是夾心餅乾。才發現想像與現實完全是兩回事。如何維繫一個團隊的士氣，確保整體進度的順遂，無時充滿了挑戰。期間順利的完成招募組成工作，設計團隊文化的建立與工作流程制定，及跨部門協調，都是一個全新的體驗。')
      .row
        +experience-item-right('SHUTTLE INC.', 'Sr. Web Designer', 'June 2014 - JUL 2015', '1y1m', '這是一個非常快樂的團隊，健全的 UI/UX 部門編制，讓我從同事與主管身上學習到很多專業的知識與觀念。在職期間發順利了執行了幾個專案任務。也可以貢獻自己的專長，幫助同事學習自己能回饋的技能與觀念。')
      .row
        +experience-item-left('Passion Bean LAB', 'Web Designer', 'SEP 2012 - June 2014', '1y9m', '一個全新視野的啟蒙，從瀑布轉換到敏捷開發，以往的觀念與作業習慣都被拋棄，一度好不習慣。每週的產品會議讓我也有機會表達對於產品的看法與見解，更加了解團體作戰的重要。後來團隊經歷了人事的大幅異動，也因此接觸到更多新奇難得的經歷。', '工作內容：網頁設計開發（含行動裝置），社群、粉絲團操作，facebook廣告投放、操作、分析，創新事業發想與計畫...。公司已終止。')
      .row
        +experience-item-right('Flysheet Information', 'Sr. Web Designer', 'FEB 2003 - SEP 2012', '9y5m', '負責項目為各大學院校、醫院、政府單位與圖書館，碩博士論文系統，資料庫檢索系統、入口網站...等網站視覺設計、檢索介面開發，及公司行政、業務單位之設計需求，大致上包含：印刷品、包裝、型錄、刊物、CD、海報、活動相關置作物、E-DM...等。')
      .row
        +experience-item-left('英象有限公司', 'Designer', 'DEC 2002 - FEB 2003', '3m', '營業項目為qMan公仔，負責包裝設計、發包，平面美術設計，網頁設計，公仔球員卡設計...等，VI 規劃設計。目前該業務已中止。')
      .row
        +experience-item-right('飛翼國際有限公司', 'Web Designer', 'OCT 2002 - NOV 2003', '1y1m', '為旅遊業，負責公司網站架設，行程景點網頁設計。會員刊物，美術編輯，平面設計...等。公司已終止。')
      .row
        +experience-item-left('視覺開發廣告事業有限公司', 'Designer', 'SEP 2000 - OCT 2002', '2y1m', '平面美術設計、客戶檔案轉換、完稿。大圖輸出與後製作加工，場佈。公司已終止。')
      .row
        +experience-item-right('金衡企業股份有限公司', 'Designer', 'JAN 2000 - SEP 2000', '9m', '負責禮品出口業務，負責處理國外設計圖稿與自有產品開發、設計。該業務已終止。')
      .row
        +experience-item-left('特選有限公司', '美工', 'JUL 1997 - JAN 1998', '9m', '為台灣最專業的聖誕飾品公司，負責大型聖誕樹工程，LED燈，社區佈置，設計規劃施工。公司已終止。')
