mixin slide-item(alt, src1, src2, title, caption)
  li(data-masterspeed='700', data-slotamount='5', data-transition='fade')
    img(alt=alt, data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat', src= src1)
    .tp-caption.lft(data-easing='Power4.easeOut', data-endeasing='Power1.easeIn', data-endspeed='1000', data-hoffset='0', data-speed='800', data-start='700', data-voffset='0', data-x='center', data-y='50')
      img(alt=alt, src=src2)
    .tp-caption.main-title.lfl(data-easing='Power4.easeOut', data-endeasing='Power1.easeIn', data-endspeed='1000', data-hoffset='0', data-speed='500', data-start='1500', data-x='center', data-y='250')
      | #{title}
    .tp-caption.info-title.lfr(data-easing='Power4.easeOut', data-endeasing='Power1.easeIn', data-endspeed='1000', data-hoffset='0', data-speed='500', data-start='2000', data-voffset='0', data-x='center', data-y='300')
      | #{caption}

#slides.tp-banner-container
  .tp-banner
    ul
      +slide-item('slidebg1', 'images/banner1.jpg', 'images/myResume.png', 'JJ Hung', '我是一個用專注創造互動網頁的設計師')
      +slide-item('slidebg2', 'images/banner2.jpg', 'images/browse.png', '10 years experience', 'In Creative UI Design')
      +slide-item('slidebg3', 'images/banner3.jpg', 'images/eye.png', 'Graphic Design', 'Is my additional qualification')
    .tp-bannertimer

.top-scroll-bar
  a.scroll-down.wow.pulse(data-wow-iteration='infinite', href='index.html#about-me')
    i.fa.fa-angle-double-down.wow.pulse.animated(data-wow-iteration='infinite')
